asgiref==3.11.1
black==26.1.0
click==8.3.1
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
mypy_extensions==1.1.0
mysqlclient==2.2.8
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
python-dotenv==1.2.2
pytokens==0.4.1
ruff==0.15.4
sqlparse==0.5.5
